# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# dotenv environment variables
.env
.env.*

# Alembic
migrations/__pycache__/
migrations/versions/*.pyc

